<html>

<head>
    <script src="js/script.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1> Template Prueba Datos Persona </h1>
    <h3> Prueba de muestra de datos personales </h3>

    <form>
        <div class="form-group">
            <label for="etiquetaNombrePersona"> Introduce el nombre de la persona: </label>
            <input type="text" class="form-control" id="inputNombrePersona" placeholder="Nombre">
            <small id="infoInputNombrePersona" class="form-text text-muted"> Se debe introducir nombre persona</small>
        </div>
    </form>

</body>

</html>